{{> header}}
<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You have logged out from the system</h1>
    <hr>
     <h1>your total time is {{Time}} hours</h1>
  </div>
</div>

{{> footer}}
