{{> header}}
<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You are presenting now</h1>
    <hr>
     <h1>your starting time is {{Time}}</h1>
     <hr>
     <h2>if you want to logout from the system press this button</h2>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

{{> footer}}
